/* CSS for website */ 
div {
    text-align: justify;
    text-justify: inter-word;
}

.book-body {
}

.body-inner {
}

.page-wrapper {
}

figure { 
   margin: 1.5em 0px; 
   padding:10px 0; 
} 
figcaption { 
   clear: left;
 margin: 0.75em 0px;
 text-align: center;
 font-style: italic;
 line-height: 1.5em;
 }
